@model KatanaBugTracker.ViewModels.HomeViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/knockout-3.0.0.js"></script>

    @* Twitter Bootstrap *@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>

    @* SignalR *@
    <script src="~/Scripts/jquery.signalR-2.0.1.js"></script>
    <script src="~/signalr/hubs"></script>

    @* App *@
    <script src="~/Scripts/app/signalrsetup.js"></script>
    <script src="~/Scripts/app/DragAndDropUtility.js"></script>
    <script src="~/Scripts/app/ViewModel.js"></script>
    <script src="~/Scripts/app/app.js"></script>

    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <h1>@Model.Title</h1>
        </header>

        <section data-bind="foreach:Zones">
            <h4 data-bind="text: Name"></h4>

            <div data-bind="event: { dragover: DropBugs.DragAndDropUtility.handleDragOver, drop: DropBugs.DragAndDropUtility.handleDrop,dragenter: DropBugs.DragAndDropUtility.handleDragEnter }">
                <div class="alert alert-danger" data-bind="visible: Bugs().length == 0, css: {'dragover-border': $root.dragOverState() == State}">
                    <p>There are no bugs in this zone</p>
                </div>

                <div class="list-group" id="backlog" data-bind="foreach:Bugs, css: {'dragover-border': $root.dragOverState() == State && Bugs().length > 0}">
                    <div draggable="true" class="list-group-item alert draggable"
                         data-bind="event: { dragstart: DropBugs.DragAndDropUtility.handleDragStart, dragend: DropBugs.DragAndDropUtility.handleDragEnd},
                                css: {'alert-success': $root.draggingBug() == $data}">
                        <p>
                            <span class="badge badge-info" data-bind="text: Id"></span>
                            <strong><span data-bind="text: Title"></span></strong>
                            <br />
                            <span data-bind="text: Description"></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>